<div class="card mt-4">
    <div class="card-body">

        <h4>Ação</h4>
        <p>Valor</p>
        <small>Origem</small><br>
        <small>Destino</small><br>
        <small>Data</small><br>

    </div>
</div>