<div class="menu">
    <div class="profileMenu">
        {{#if user}}
        <a href="/admin/perfil/{{user._id}}">
            <div class="avatar"></div>
            <h3 class="userName">{{user.name_user}}</h3>
        </a>
        {{/if}}
    </div>

    <nav>
        <ul>
            <li>
                <a href="/admin/geral"><i class="fa fa-bars"></i> GERAL </a>
            </li>
            <li>
                <a href="/admin/recebidos"><i class="fa fa-plus"></i> RECEBIDOS </a>
            </li>
            <li>
                <a href="/admin/comprados"><i class="fa fa-minus"></i> COMPRADOS</a>
            </li>
            <li>
                <a href="/admin/devendo"><i class="fa fa-exclamation-triangle"></i></i> DEVENDO</a>
            </li>
            <li>
                <a href="/admin/interesses"><i class="fa fa-question"></i> INTERESSES</a>
            </li>
        </ul>
    </nav>
</div>