/* GERAL */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  text-transform: none !important;
}

/* HEADER */

.menu {
  width: 20%;
  height: 100%;
  background: #505056;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu .profileMenu {
  display: flex;
  border-bottom: 2px solid #6f6f6f;
  padding-bottom: 20px;
}

.menu .profileMenu .avatar {
  width: 80px;
  height: 80px;
  margin: 10px 0;
  border-radius: 180px;
  background-color: #ffffff;
}

.menu .profileMenu .userName {
  color: #ffffff;
  margin: 50px auto auto 10px;
}

/* .menu nav .btnLogout {
  font-size: 15px;
}

.menu nav .btnLogout:hover {
  transform: scale(1.05);
  color: #dc3545 !important;
  transition: 0.2s;
} */

.menu ul {
  list-style: none;
}

.menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #6f6f6f;
}

.menu ul li:hover {
  background-color: #676565;
}

.menu nav a {
  color: #fff;
  margin: 0 10px;
  font-size: 25px;
}

.menu nav a:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

/* PAGINA INDEX E CADASTRO */

.pagIndex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./../assets/macbook-pro-on-brown-table-139387.jpg") top
    center no-repeat;
  background-size: cover;
}

.pagIndex h2 {
  text-align: center;
}

.pagIndex .containerFormLogin,
.pagIndex .containerNewAccount {
  width: 35%;
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.7);
  padding: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.95;
}

.pagIndex form label,
.pagSignUp form label,
.pagIndex p {
  font-size: 30px;
  color: #707070;
}

.pagIndex form input,
.pagSignUp form input {
  width: 100%;
  font-size: 20px;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 5px 10px;
  outline: none;
}

.pagIndex form .btnLogin,
.pagSignUp form .btnLogin,
.pagIndex .btnSignUp,
.pagSignUp .btnSignUp {
  width: 100%;
  font-size: 20px;
}

/* PAGINAS DAS TRANSAÇÔES */

.pagGeneral,
.pagReceived,
.pagSpent,
.pagOwing,
.pagInterested {
  width: 85%;
  margin-left: 15%;
}

.pagGeneral table,
.pagReceived table,
.pagSpent table,
.pagOwing table,
.pagInterested table {
  border: 1px solid #000;
  border-radius: 20px !important;
  padding: 10px !important;
  text-align: center;
}

.Interesse,
.Interesse > th,
.Interesse > td {
  background-color: #8fb5dd;
}

.Interesse th,
.Interesse td,
.Interesse thead th,
.Interesse tbody + tbody {
  border-color: #8ebef1;
}

.Recebido,
.Recebido > th,
.Recebido > td {
  background-color: #c3e6cb;
}

.Recebido th,
.Recebido td,
.Recebido thead th,
.Recebido tbody + tbody {
  border-color: #8fd19e;
}

.Comprado,
.Comprado > th,
.Comprado > td {
  background-color: #ffeeba;
}

.Comprado th,
.Comprado td,
.Comprado thead th,
.Comprado tbody + tbody {
  border-color: #ffdf7e;
}

.Devendo,
.Devendo > th,
.Devendo > td {
  background-color: #f5c6cb;
}

.Devendo th,
.Devendo td,
.Devendo thead th,
.Devendo tbody + tbody {
  border-color: #ed969e;
}
